name: Run Cypress Tests Daily at 10 AM NPT

on:
  schedule:
    - cron: '15 4 * * *' # 10:00 NPT
  workflow_dispatch: # manual trigger

jobs:
  cypress-run:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'

      - name: Install dependencies
        run: npm install
        

      - name: Run Cypress Tests
        uses: cypress-io/github-action@v5
        with:
          runTests: true
          record: false
          browser: chrome
